<!--Footer-->
<footer class="footer-page text-center font-small wow fadeIn">
  <div class="container">
    <div class="footerGrid my-5">
      <div class="leftSide">
        <p>RIF: J123456789-0 Copyright 2021. Todos los derechos reservados</p>
      </div>
      <div></div>
      <a href="/">
        <img class="brand-logoFooter" src="assets/img/logo_small.png">
      </a>
    </div>
  </div>

  <!--  <div class="footer-copyright py-3">-->
<!--    © 2021 Copyright:-->
<!--    <a href="/" target="_blank"> BancoKaran.com </a>-->
<!--  </div>-->
</footer>
<!--/.Footer-->
