/* You can add global styles to this file, and also import other style files */
.buttonKaranPrimary {
  color: #fff;
  border-color: #51be95 !important;
  background: #51be95;
  font-weight: bold;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  border-radius: 14px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #51be95;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
  background-color: #51be95;
}

.card-Karan-Register {
  padding: 25px;
  border-radius: 1.5em !important;
}

.separator {
  display: block;
  height: 3rem;
  //margin-bottom: 3rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
